body[data-theme="dark"] {  

   @import '../src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #2e3240;
   }

   .title-styles {
      color: white;
   }

   .header-icon {
      color: #3C342C;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #050e29;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: #081c3da4;
      h1 {
         color: white;
      }
   }

   #about {
      background: linear-gradient(to bottom, #183d7c,#02204e);
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #050e29;
      }
      .card {
         background: white;
         color: balck;
         font-weight: 500;
         border-radius: 10px;
      }
   }

   #portfolio {
      background: linear-gradient(to bottom, #163263,#021c47);
      .section-title {
         color: white !important;
      }
      .foto div {
         background: #050e29;
      }
      .project-title-settings {
         color: white;
      }
   }

   #resume {
      // filter: brightness(90%);
      background: linear-gradient(to bottom, #02204e,#021c47);
      .section-title {
         color: white !important;
      }

      .experience-badge {
         background: #050e29 !important;
         color: white;
         font-size: 14px;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .main-badge {
         background: #050e29 !important;
         font-size: 14px;
         font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      .vertical-timeline-element-date {
         color: white;
         font-size: 11px;
      }

      .vertical-timeline-element-icon {
         background: #050e29 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #fcfcfc;
      color: white;
      border-radius: 10px;
   }

   .close-icon {
      color: white;
   }
}